body{
    /* Encriptador - 1 Desktop */
margin: 0%;
padding: 0%;
position: relative;
width: 1440px;
height: 1024px;

/* Light blue/light-blue-100 */
background: #F3F5FC;
}

.logo{
    background: skyblue;
    width: 100%;
    float: left;
}

.logo-img{
    margin-top: 1%;
    margin-left: 5%;
    float: inherit;
}

.input-text{
    /* Ingrese el texto aqui */
    width: 577px;
    position: absolute;
    left: 240px;
    top: 168px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    /* identical to box height, or 48px */
    /* Dark blue/dark-blue-300 */
    color: #0A3871;
    
    border: none;
    outline: none;
    background: #F3F5FC;
    height: 48px;
}

.encriptar-btn{

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-end;
padding: 24px;
gap: 8px;

width: 328px;
height: 67px;

/* Dark blue/dark-blue-300 */
background: #0A3871;
border-radius: 24px;
}

.desencriptar{
    /* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 328px;
height: 67px;

/* Light gray */
background: #D8DFE8;

/* Dark blue/dark-blue-300 */
border: 1px solid #0A3871;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.rectangle{
    /* Rectangle 1 */
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    /* White */
    background: #FFFFFF;
    /* shadow */
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}



.munieco-img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 243px;
    margin-right: 32px;
    margin-left: 32px;
    margin-bottom: 437px;
}

.munieco-msj {
    /* Ningún mensaje fue encontrado */
    width: 336px;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
    text-align: center;
    /* Gray/gray-500 */
    color: #343A40;
    /* Inside auto layout */
    flex: grow;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.text-area{
width: 336px;
height: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;

/* or 24px */
text-align: center;

/* Gray/gray-400 */
color: #495057;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.copy-btn{
    /* Button */

width: 288px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */
color: #0A3871;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
}

.left-butons{
    background: skyblue;
    display: flex;
    align-content: flex-end;
}





