body {
    margin: 9px;
    padding: 0px;
    font-family: 'Inter';
    font-style: normal;
    background: #E5E5E5;
}

::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */
    /* Dark blue/dark-blue-300 */
    color: darkblue;
    opacity: 111%;
}

.container{
    margin: auto;
    width:960px;
    height:650px;
    padding:3px;
}

.logo{
    width: 100%;
    float:left;
}

.logo-img{
    margin-top: 1%;
    margin-left: 5%;
    float: inherit;
}

.left {
    float:left;
    width: 69%;
    height: 69%;
}

.input-txt {
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 81%;
    height: 21%;
    color: #0A3871;
    font-size: 20px;
    border: none;
    outline: none;
    background: #E5E5E5;
}

.right {
    float:right;
    width: 30%;
    height: auto;
    border-radius: 32px;
    background: white;
}

#right-img {
    margin-left: 2%;
    margin-top: 20%;
    width: 90%;
    height: auto;
}
#right-txt{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #343A40;
}

#right-txt-2{
    float: left;
    margin-left: 10%;
    width:80%;
    height: 60%;
    border: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    text-align: center;
    /* Gray/gray-400 */
    color: #495057;
    resize: none;
}

#copy-btn {
    margin-left: 33%;
    margin-top: 90;
    padding: 24px;
    width: 40%;
    height: 10%;
    background: #0A3871;
    border-radius: 24px;
    display: none;
}

.alert{
    margin-left: 111px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* Gray/gray-400 */
    color: #495057;
    opacity: 0.8;
}

.left-buttons {
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
}
#btn-encriptar {
    padding:24px;
    width: 30%;
    height: 60%;
    gap: 8px;
    border-radius: 24px;
    margin-left: 15%;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    box-sizing: border-box;
    /* White */
    color: #FFFFFF;
    /* Dark blue/dark-blue-300 */
    background: #0A3871;
    border: 1px solid #0A3871;
}

#btn-desencriptar {
    padding:24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 10%;
    box-sizing: border-box;
    /* Auto layout */
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    /* Light gray */
    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    /* Dark blue/dark-blue-300 */
    color: #0A3871;
}


